
body {
    display: grid;
    grid-template-rows: auto 1fr auto; 
    min-height: 100vh;
}

header[role="banner"] { grid-row: 1 / 2; }
main[role="main"]     { grid-row: 2 / 3; }
footer[role="contentinfo"] { grid-row: 3 / 4; }


header[role="banner"] {
    background-color: #fff;
    border-bottom: 1px solid var(--cor-borda);
    padding: var(--esp-2) 0;
}

main[role="main"] {
    padding: var(--esp-4) 0; 
}

footer[role="contentinfo"] {
    background-color: var(--cor-texto);
    color: var(--cor-fundo);
    padding: var(--esp-4) var(--esp-2);
    text-align: center;
}


.container {
    width: 90%;
    max-width: 1200px; 
    margin: 0 auto; 
}

.row {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    gap: var(--esp-3); 
}


.col-12 { grid-column: span 12; }
